.header {
  height: 80px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: black;
}
.header_name {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.header_menu {
  display: flex;
  gap: 20px;
}
